<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Collection points</h1>
            <a href="/">Close</a>
        </div>
        <form action="search">
            <label for="search">City</label>
            <div class="search field">
                <input 
                type="text" 
                name="search"
                placeholder="City search">
                <button>
                    <img src="/assets/search.svg" alt="buscar">
                </button>
            </div>
        </form>
    </div>
</div>
